.transicion-difuminado {
    transition: opacity 0.3s ease-in-out;
}
  /* Define estilos para el estado visible */
.ver {
    opacity: 1;
}

/* Define estilos para el estado oculto */
.no-ver {
    opacity: 0;
}

.col-marquee {
    width: 100%;
    overflow: hidden;
}

.marquee {
    animation: marquee linear infinite;
    white-space: nowrap;
    animation-fill-mode: forwards;
}

@keyframes marquee {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes entrada {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes salida {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Aplica las animaciones a los elementos con la clase "animated-container" */
.animated-container {
    animation-duration: 1s; /* Duración de la animación en segundos */
    animation-fill-mode: both; /* Mantiene los estilos finales de la animación */
}

.fade-in {
animation-name: entrada;
}

.fade-out {
animation-name: salida;
}